---
import MainLayout from "../layouts/MainLayout.astro";

const title = 'Home Page'
---

<MainLayout title={title}>
	<h1>Edwin Wright</h1>
	<h4>Engineer</h4>
	<h4>Programmer</h4>
</MainLayout>

<style>
	
</style>