---
import MainLayout from "../layouts/MainLayout.astro";

const title = 'Home Page'
---

<MainLayout title={title}>
	<main>
		<section>
			<h2>Engineer</h2>
		</section>

		<section>
			<h2>Programmer</h2>
		</section>
	</main>
</MainLayout>

<style>
	main {
		width: 100vw;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		height: calc(100vh - 5rem);
		overflow: none;
	}

	section {
		width: 50vw;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
</style>