---

---

<nav>
  <div class="flex">
    <a href="/" class="icon">
      <img src="/favicon.png" alt="" class="logo">
    </a>
    <span class="name">Edwin Wright</span>
  </div>
  <div class="flex">
    <a class="router" href="/blog">Blog</a>
    <a class="router" href="/projects">Projects</a>
  </div>
</nav>

<style>
  nav {
    position: sticky;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    top: 0;
    height: fit-content;
    padding: 0.5rem 0.5rem;
    background-color: var(--accent-color);
  }

  .flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: fit-content;
  }

  a {
    all: unset;
    cursor: pointer;
    height: fit-content;
  }
  img:hover, a:not(.icon):hover {
    background-color: rgb(209, 219, 187);
  }

  .logo {
    height: 4rem;
    animation: 0.1s 1 linear spin;
  }
  a:has(> img), img {
    border-radius: 99rem;
  }

  .router {
    font-size: var(--h2);
    margin-left: 2rem;
  }

  .name {
    font-size: var(--h1);
    margin-left: 2rem;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>